*{
    padding:0;
    margin:0;
    color:white;
    font-family:sans-serif;
}
body{
    background:#001;
    display: flex;
}

.menu{
    background:#123;
    width:40px; 
    height:100vh;
    padding:20px;
    overflow: hidden;
    transition:.5s;
}
.menu:hover{
   min-width: 140px;
}
ul{
    list-style-type: none;
    position: relative;
    height:95%;
}


ul li a{
    display:block;
    text-decoration: none;
     padding:10px;
     margin:10px 0;
     display:flex;
     align-items: center;
     gap:30px;
     transition: .5;
}

ul li a:hover, .active{
    background:#ffffff2f;
    border-radius: 10px;
}

.log-out{
    position:absolute;
    bottom:0;
    width:100%;
}
.log-out a{
    background:#a00;
    border-radius:10px;
}

ul li a i{
    font-size:17px;
}

.img-box{
    width:40px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
    border:3px solid white;
    flex-shrink: 0;
}
.img-box img{
    width:100%;
}
.profile{
    display: flex;
    align-items:center;
    gap:20px;
}
.profile h2{
    font-size: 20px;
    text-transform:capitalize;
}

.content{
    width:100%;
    margin:10px;
}

.content .title{
    background:blue;
    padding:10px;
}

.title{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin:10px 0;
}
.data-info{
 display:flex;
 flex-wrap:wrap;
 justify-content: space-between;
 gap:10px;
}

.box{
background:#123; 
flex-basis: 130px;
height:150px;
flex-grow:1;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-around;
}

.box:hover{
    background:#ffffff55;
}

.box i{
    font-size: 40px;
    text-align: center;
}
.box span{
    font-size: 30px;
}

table{
    width:100%;
    border-spacing: 5px;
}
thead tr th{
   background:#ffffff28;
   border-radius: 10px;
   padding:5px 0;
}
tbody tr td{
    background:#ffffff11;
    padding:5px;
    border-radius: 10px;
    text-align: center;
}
